body {
  margin: 0;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Card {
  display: flex;
  border: solid 3px black;
  padding: 5px 70px 50px 25px;
  border-radius: 5%;
}

.CardDirection {
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: bolder;
}

p {
  margin: 0;
  font-size: large;
}

.CardImage {
  height: 100px;
  padding-top: 50px;
  padding-left: 90px;
}